doctype html
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8">
//if IE 8
  <html class="no-js lt-ie9">
//[if gt IE 8]><!
html(class='no-js')
  //<![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    title yin to your yang

    meta(name='description', content='On the web we live in a bubble closed off from political views different from our own. In terms of Facebook news, what is the yin to your yang?')
    meta(name='viewport', content='width=device-width, initial-scale=1')



    //-
    //- 1. Default Site Layout
    //- ======================
    //- The below tags should be used in the generic document#head
    //- N.B. Jade blocks should be used so other layouts can overwrite them
    //-
    //- og:title is the article's main title
    meta(property='og:title', content='yin to your yang')

    //- og:site_name is the name of the website the article sits on
    meta(property='og:site_name', content='yin to your yang')


    //-
    //- 2. Article Layout
    //- =================
    //- The below tags should be used to overwrite
    //- document#head blocks (as defined in Default Site Layout)
    //-
    //-
    //- 2.1. OpenGraph Defaults
    //- =======================
    //-
    //- og:type must be specified for graph data to be parsed
    //- View all types at http://ogp.me/#types
    meta(property='og:type', content='article')

    //- og:site_name is the name of the website the article sits on
    meta(property='og:site_name', content='yin to your yang')

    //- og:title is the article's main title
    meta(property='og:title', content='yin to your yang')

    //- og:description should be a shortened description of the article
    meta(property='og:description', content='On the web we live in a bubble closed off from political views different from our own. In terms of Facebook news, what is the yin to your yang?')

    //- og:url is the caconical, permanent URL of the article
    //- N.B. This URL should be forwarded using a 301 redirect header if the slug changes
    meta(property='og:url', content='http://staging.cc7hmm6epu.eu-west-1.elasticbeanstalk.com/')

    //- og:image is the article's main image (if applicable)
    meta(property='og:image', content='http://staging.cc7hmm6epu.eu-west-1.elasticbeanstalk.com/images/yinyanglogo.png')

    //- article:published_time should be defined as a UTC timestamp
    meta(property='article:published_time', content='2016-12-03T05:59:00+01:00')


    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/components/angular-material/angular-material.min.css')


    //- Custom Directives
    link(rel='stylesheet', href='/stylesheets/style.css')


    base(href="/")
    script(src='/javascripts/vendor/modernizr-2.8.3.min.js')

  body(ng-app="OpposingFeedPublic", ng-cloak)
    //if lt IE 7
      p.browsehappy You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.

    block content



    //- Facebook
    div#fb-root
    script.

      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8&appId=1716003962060301";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    //-libraries
    script(src='/components/angular/angular.js')
    script(src='/components/angular-animate/angular-animate.js')
    script(src='/components/angular-messages/angular-messages.js')
    script(src='/components/angular-material/angular-material.js')
    script(src='/components/angular-aria/angular-aria.js')
    script(src='/components/angular-scroll/angular-scroll.js')

    script(src='/javascripts/apps/frontend.js')

    //- Services
    script(src="/javascripts/services/ViewpointsService.js")
    script(src="/javascripts/services/PartiesService.js")
    script(src="/javascripts/services/FeedService.js")

    //- controllers
    script(src="/javascripts/controllers/FrontendController.js")

    //- Directives
    script(src="/javascripts/directives/fbDirective.js")

    //- Custom Directives



    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-88402671-1');ga('send','pageview');



